.externalInfo {
  display: flex;
}

.externalInfo span div {
  margin: 10px 50px 20px 0px;
  display: flex;
  align-items: center;
  width: 100%;
}

.externalInfo span p,
a {
  margin: 0px 10px;
}

.notAvailable {
  color: rgb(132, 132, 132);
}
