.gitInfoContainer {
    background-color: #141d2f;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 20px 0px;
    padding: 20px 40px;
    font-size: 20px;
  }
  
  .gitInfoContainer h5 {
    margin: 0px 0px 5px 0px;
    font-weight: lighter;
  }
  