.userInfoContainer {
  background-color: #1e2a47;
  border-radius: 10px;
  width: 850px;
  height: auto;
  margin: 20px 0px;
  display: flex;
}

.userInfoContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px;
}

.userDataContainer {
  width: 100%;
  margin: 25px 35px 25px 0px;
}

.nameDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 40px;
}

a,
a:visited {
  color: #0079ff;
}

a:hover {
  color: #47a9ff;
}

.bio,
.noBio {
  margin: 20px 0px;
}

.noBio {
  color: rgb(132, 132, 132);
}
