.searchContainer {
  background-color: #1e2a47;
  border-radius: 10px;
  width: 850px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchIcon {
  margin: 0px 0px 0px 10px;
  font-size: large;
}

.searchIcon * {
  color: rgb(74, 144, 226);
}

.searchContainer form {
  width: 100%;
}

.input {
  caret-color: white;
  background: transparent;
  font-size: 20px;
  width: 85%;
  border: none;
  outline: none;
  margin: 10px;
  color: white;
}

.input::placeholder {
  color: white;
}

.submitInput {
  background-color: #0079ff;
  font-size: 17px;
  color: white;
  border: none;
  height: 45px;
  width: 95px;
  border-radius: 10px;
  cursor: pointer;
}
