@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html {
  background-color: #141d2f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.light-mode {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 75px;
}

.mode {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
